<table class="table table-striped" id="modal_id">
  <tbody>
      <tr>
        <td>
          <%cache(user, :expires_in => 5.minutes) do %>
            <%=image_tag(user.profile_image_url ,class: "thumbnail img-responsive") %> <%#=user.name%>
            <br/>
            <%=user.description%>
            <br/><br/>
            <b>Tweets:</b> <%=user.statuses_count%> 
            <b>Following:</b> <%=user.friends_count%>
            <b>Followers:</b> <%=user.followers_count%>
          <%end%>  
        </td>       
      </tr>
  </tbody>
</table>