<%require 'rails_autolink' %>
<h1>My Twitter</h1>
<%=form_tag search_twitters_path, :class => "form-horizontal" do%>
      <input name="search" type="textarea" style="float: right" placeholder = "Search"   />
      <input type="submit" style="position: absolute; right: -9999px; width: 1px; height: 1px;"/><br/>
<%end%>
<table class="table table-striped" >
  <tbody>
    <%  cache(@tweets, :expires_in => 5.minutes) do %>
      <% @tweets.each do |tweet| %>
        <tr>
          <td>
          <%user=tweet.user%>
          <%=link_to "#{user.name} @#{user.screen_name} " , home_twitters_path(handle: user.screen_name), :class => 'btn', :id => "popover-twitter",  :"data-content" => "#{render 'twitter_modal', :user => user}","data-trigger"=> "hover" , :rel => 'popover', "data-placement" => "up", "data-original-title"=>user.screen_name, "data-html" => "true" %>
          <%= "  #{tweet.created_at.strftime('%B %d, %Y')}"%><br/>
          <%= auto_link(render_with_hashtags(tweet.text)).html_safe%>
          <br/>
          <%=image_tag(tweet.media[0]["media_url"] ,class: "thumbnail img-responsive") if(tweet.media.present?)%> </td>       
        </tr>
      <% end %>
    <%end%>  
  </tbody>
</table>
